.paintContainer {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .paint {
    width: 90%;
    max-width: 337px;
    min-width: 337px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 30px;

    .paintInfo {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h1 {
        font-size: 2.3rem;
      }
      h3 {
        font-size: 1.2rem;
      }
      position: absolute;
      bottom: 30px;
      width: 100%;
      height: 70px;
      background-color: transparent;
      padding-left: 20px;
      font-family: "Libre Baskerville", serif;
    }
  }
}
